<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author"> content="https://github.com/MarcosOliveiraJ"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu estou comentado -->
     <marquee bgColor="red" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sint.</marquee>
     <marquee bgColor="blue" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sint.</marquee>
     <marquee bgColor="red" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sint.</marquee>
     <marquee bgColor="blue" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sint.</marquee>
</body>
</html>